<div class="container mt-4">
    <div class="input-group rounded mb-2">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"
        id="listingSearch" name="listingSearch" (keyup.enter)="search()" [(ngModel)]="listingSearch"/>
    </div>
    <div class="card mb-4" *ngFor="let jobListing of jobListings | paginate: { itemsPerPage: 10, currentPage: p, totalItems: this.totalJobListing}">
        <div class="card-body" *ngIf="jobListings.length > 0">
          <div class="d-flex">
            <h4 class="card-title btn-link text-secondary p-2 flex-fill" (click)="openListing('/listingDetails', jobListing.id)">{{jobListing.title}}</h4>
            <div class="card-text p-2 flex-fill text-right">{{jobListing.status}}</div>
          </div>
          <div class="row">
            <div class="col-9 card-text ">{{jobListing.details}}</div>
            <div class="col-3 card-text text-right">${{jobListing.rate}} {{jobListing.rateType}}</div>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="jobListings.length == 0">
        <div class="no-content">&ndash; No Jobs Listed &ndash;</div>
    </div>
    <pagination-controls (click)="refresh(p)" (pageChange)="p = $event"></pagination-controls>
</div>

