<!-- <div class="main-container"> -->
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email">

                    <mat-error *ngIf="!submitted && email_require">
                        <mat-error *ngIf="control.email.errors.required">Email is required</mat-error>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password">

                    <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Contact Number</mat-label>
                    <input matInput type="text" formControlName="contactNo">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let value of gender" [value]="value.value">
                          {{ value.viewValue }}
                        </mat-option>
                    </mat-select>
                    <!-- <input matInput type="text" formControlName="gender"> -->

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Date of Birth</mat-label>
                    <input matInput type="text" formControlName="dob">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>About Me</mat-label>
                    <input matInput type="text" formControlName="aboutMe">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Skills</mat-label>
                    <input matInput type="text" formControlName="skills">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>LinkedIn</mat-label>
                    <input matInput type="text" formControlName="linkedInAcct">

                    <!-- <mat-error *ngIf="!submitted && pw_require">
                        <mat-error *ngIf="control.password.errors.required">Password is required</mat-error>
                    </mat-error> -->
                </mat-form-field>










                <!-- <button class="btn btn-primary">
                    Update
                </button>
                <button class="btn btn-primary">
                    Cancel
                </button> -->

                <!-- <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button> -->
                <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->

                <mat-card-actions>
                    <button mat-stroked-button [disabled]="loading"color='primary' style="width:100%">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <!-- <div style="padding-bottom: 10px;"></div> -->
                    <a routerLink="/login" class="btn btn-link" style="float: right; color: blue; cursor: pointer; font-size: 12px">Cancel</a>
                    
                    <!-- <button (click)="routeToLanding('/admin-landing',email_admin)">Login</button> -->

                    <!-- <button mat-raised-button color='primary' (click)="onSubmit('user_type')">login</button> -->
                    <!-- <button  mat-raised-button color='warn' (click)="backClicked()">Cancel</button> -->
                </mat-card-actions>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <!-- <button class="btn btn-primary" (click)="checkSession()">
                Session Stored?
            </button>
            {{loginemail}}
            <button class="btn btn-primary" (click)="clearSession()">
                Session clear?
            </button> -->
        </mat-card-footer>
    </mat-card>
<!-- </div> -->