  <div class="container mt-4">
    <h3 class="card-title text-secondary flex-fill">Dashboard</h3>
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Job Listing ({{jobListings.length}})</span>
          </ng-template>
            <ng-template ngbPanelContent>
              <div class="card mb-4" *ngFor="let jobListing of jobListings">
                <div class="card-body" *ngIf="jobListings.length > 0">
                  <div class="d-flex">
                    <h4 class="card-title btn-link text-secondary p-2 flex-fill" (click)="openListing('/jobListing/'+jobListing.id)">{{jobListing.title}}</h4>
                    <div class="card-text p-2 flex-fill text-right">{{jobListing.status}}</div>
                  </div>
                  <div class="d-flex">
                    <div class="card-text p-2 flex-fill">{{jobListing.details}}</div>
                      <div class="card-text p-2 flex-fill"></div>
                    <div class="card-text p-2 flex-fill text-right">{{jobListing.rate}}{{jobListing.rateType}}</div>
                  </div>
                </div>
              </div>
              <div class="card-body" *ngIf="jobListings.length == 0">
                <h4 class="card-title text-centre">No Jobs Listed</h4>
            </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span>Job Applications ({{jobApplications.length}})</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="card mb-4" *ngFor="let jobApplication of jobApplications">
                <div class="card-body" *ngIf="jobListings.length > 0">
                  <div class="d-flex">
                    <h4 class="card-title btn-link text-secondary p-2 flex-fill" >{{jobApplication.jobListing.title}}</h4>
                    <div class="card-text p-2 flex-fill text-right">{{jobApplication.status}}</div>
                  </div>
                </div>
              </div>
              <div class="card-body" *ngIf="jobListings.length == 0">
                <h4 class="card-title text-centre">No Applications Listed</h4>
            </div>
            </ng-template>
          </ngb-panel>
      </ngb-accordion>
  </div>

  