  <div class="container mt-4">
    <div class='row'>
      <div class='col-auto'>
        <h3 class="card-title text-secondary flex-fill">Dashboard</h3>
      </div>
      <div class='col-auto'>
        <span>Filter Job Listing By: </span>
        <div ngbDropdown class="d-inline-block pb-3">
          <button class="btn btn-secondary" id="jobListingStatusDropdown" ngbDropdownToggle>
              {{this.selectedJobListingStatus}}
          </button>
          <div ngbDropdownMenu aria-labelledby="jobListingStatusDropdown">
            <button ngbDropdownItem *ngFor="let jobListingStatus of jobListingStatuses"
            (click)="onSelectJobListingFilter(jobListingStatus)">{{jobListingStatus}}</button>
          </div>
        </div>
      </div>
      <div class='col-auto'>
        <span>Filter Job Applications By: </span>
        <div ngbDropdown class="d-inline-block pb-3">
          <button class="btn btn-secondary" id="jobAppStatusDropdown" ngbDropdownToggle>
              {{this.selectedJobAppStatus}}
          </button>
          <div ngbDropdownMenu aria-labelledby="jobAppStatusDropdown">
            <button ngbDropdownItem *ngFor="let jobApplicationStatus of jobApplicationStatuses"
            (click)="onSelectJobAppFilter(jobApplicationStatus)">{{jobApplicationStatus}}</button>
          </div>
        </div>
      </div>
    </div>
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Job Listing ({{jobListings.length}})</span>
          </ng-template>
            <ng-template ngbPanelContent>
              <div class="card mb-4" *ngFor="let jobListing of jobListings">
                <div class="card-body" *ngIf="jobListings.length > 0">
                  <div class="d-flex">
                    <h4 class="card-title btn-link text-secondary flex-fill" (click)="openListing('/jobListing/details', jobListing.id)">{{jobListing.title}}</h4>
                    <div class="card-text flex-fill text-right">{{jobListing.status}}</div>
                  </div>
                  <div class="row">
                    <div class="col-9 card-text ">{{jobListing.details}}</div>
                    <div class="col-3 card-text text-right">${{jobListing.rate}} {{jobListing.rateType}}</div>
                  </div>
                </div>
              </div>
              <div class="card-body" *ngIf="jobListings.length == 0">
                <div class="no-content">&ndash; No Jobs Listed &ndash;</div>
            </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span>Job Applications ({{jobApplications.length}})</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="card mb-4" *ngFor="let jobApplication of jobApplications">
                <div class="card-body" *ngIf="jobApplications.length > 0">
                  <div class="d-flex">
                    <h4 class="card-title btn-link text-secondary flex-fill" (click)="openListing('/jobListing/details', jobApplication.jobListing.id)">{{jobApplication.jobListing.title}}</h4>
                    <div class="card-text lex-fill text-right">{{jobApplication.status}}</div>
                  </div>
                  <div class="row">
                    <div class="col-9 card-text ">{{jobApplication.jobListing.details}}</div>
                    <div class="col-3 card-text text-right"></div>
                  </div>
                </div>
              </div>
              <div class="card-body" *ngIf="jobApplications.length == 0">
                <div class="no-content">&ndash; No Applications Listed &ndash;</div>
            </div>
            </ng-template>
          </ngb-panel>
      </ngb-accordion>
  </div>

