<div class="container mt-4">
    <div class="row">
        <div class="col-auto mr-auto">
            <h4> Admin </h4>
        </div>
    </div>

    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Password Change Requests</a>
            <!-- First content -->
            <ng-template ngbNavContent class="tab-content">

            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Manage Users</a>
            <!-- First content -->
            <ng-template ngbNavContent class="tab-content">

            </ng-template>
        </li>
    </ul>
</div>