.alert  {
    /* position: fixed; */
    top: 0;
    /* right: 0.5rem; */
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    /* padding: 2rem; */
    width: 300px;
    /* background: #fff;
    color: #f65656; */
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0rem);
  }