<div class="container mt-4">
    <h4>Freelancer Profile</h4>

    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Profile</a>
            <ng-template ngbNavContent class="tab-content">
                <div class="row">
                    <div class="col"><img alt="Profile Picture" src="{{ imagePath }}" /></div>
                    <div class="col-7">
                        <div class="name"> {{ name }} </div>
                        <div> {{ professionalTitle }} </div>
                        <div class="aboutMeTitle">About Me</div>
                        <div class="aboutMe"> {{ aboutMe }} </div>
                    </div>
                    <div class="col">
                        <div class="editPofBtn">
                            <button type="button" class="btn btn-info">Edit Profile</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto">
                        <div class="skills"><strong>Skills: </strong> {{ skills }} </div>
                        <div class="resume">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                                </svg>
                                View Resume
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        for linkedin btneeeeeeeee
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Job Listing</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Reviews</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

</div>