.nav-tabs {
    margin-top: 2em;
}

.tab-content {
    padding: 1em;
}

img {
    width: 15em;
    height: 15em;
    margin-bottom: 1em;
}

.name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.aboutMeTitle {
    margin-top: 1em;
    font-weight: bold;
}

.editPofBtn {
    float: right;
}

.row {
    margin-bottom: 1em;
}

.skills {
    margin-bottom: 1em;
}

svg {
    transform: scale(1.3);
}

.alignWithSvgRight {
    padding-left: 0.5em;
}

.alignWithSvgLeft {
    padding-right: 0.5em;
}

.last {
    min-height: 10em;
}

.totalRatings {
    margin: 1em 0 1em 0;
    font-size: larger;
    font-weight: bold;
}

.review {
    color:gray;
    font-weight: lighter;
}

.upload-container {
    /* background-color: rgb(239, 239, 239); */
    /* border-radius: 6px; */
    /* padding: 10px; */
    max-width: 15em;
    /* text-align: center; */
}

.right {
    float: right;
}

.spacingRight {
    margin-right: 10px;
}