<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-8">
            <h3 class="card-title text-secondary flex-fill">{{jobListing.title}}</h3>
        </div>
        <div class="col-4">
            <div class="container">
                <h5 class="row justify-content-end mb-n1">
                    {{jobListing.status}}
                </h5>
                <div class="row justify-content-end">
                    Posted 1 day ago
                </div>
            </div>
      </div>
    </div>
      <div class="row">
        <div class="col-8">
            <div class="card">       
                <h5 class="card-header">Job Details</h5>
                <div class="card-body">
                <p class="card-text">{{jobListing.details}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <h5 class="row justify-content-end">
                    {{jobListing.rate}}{{jobListing.rateType}}
                </h5>
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-dark">Apply Now</button>
                </div>
            </div>
         </div>
      </div>
      <div class="row pt-3">
        <div class="col-8">
            <div class="card">       
                <h5 class="card-header">About The Client</h5>
                <div class="card-body">
                <p class="card-text">whowhowho</p>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
</div>

